<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>KeywordMonitor</title>

	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />

	<script src="/script-adminlte/bower_components/jquery/dist/jquery.min.js"></script>

	<!-- Bootstrap 3.3.7 -->
	<link rel="stylesheet" href="/script-adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<!-- Font Awesome -->
	<link rel="stylesheet" href="/script-adminlte/bower_components/font-awesome/css/font-awesome.min.css" />
	<!-- Ionicons -->
	<link rel="stylesheet" href="/script-adminlte/bower_components/Ionicons/css/ionicons.min.css" />
	<!-- Theme style -->
	<link rel="stylesheet" href="/script-adminlte/dist/css/AdminLTE.min.css" />
	<!-- iCheck -->
	<link rel="stylesheet" href="/script-adminlte/plugins/iCheck/square/blue.css" />

	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

	<style>
		.gradient-custom-3 {
			background-color: transparent !important;
		}

		.login-box {
			width: 400px;
			/* 기존 너비의 2배 */
			margin: auto;
			/* 가운데 정렬을 유지하기 위해 추가 */
		}
	</style>

</head>

<script type="text/javascript">
	function confirm() {

		if (!$("#mb_email").val()) {
			$("#mb_email").focus();
			alert("이메일을 입력하세요.");
			return false;
		}
		event.preventDefault();
		const formData = new URLSearchParams(new FormData(document.workForm));
		console.log(formData);
		fetch("/findpassword", {
			method: 'POST',
			mode: 'same-origin',
			credentials: 'same-origin',
			body: formData,
		})
			.then(res => {
				res.json()
					.then((response) => {
						console.log("response=" + JSON.stringify(response));
						if (res.status != 200) {
							toastr.warning(response.message);
							console.log(response.message);
							return;
						} else {
							alert(response.message);
						}
					}).catch((error) => {
						toastr.error("에러가 발생 하였습니다.");
						console.log(error);
					});
			});
	}

</script>

<% if(message.length){ %>
	<script>toastr.success("<%=msg%>")</script>
	<% } %>
		<% if(err.length){ %>
			<script>toastr.success("<%=err%>")</script>
			<% } %>


				<body class="hold-transition login-page">

					<div style="height:100px;"></div>
					
					<div class="login-box">
						<div class="login-logo">
							<a href="../../index2.html"><b>KeywordMonitor</b></a>
						</div>
						<!-- /.login-logo -->
						<div class="login-box-body">
							<p class="login-box-msg">비밀번호 찾기</p>

							<form name="workForm" action="" method="POST">
								<label>이메일(로그인 아이디)를 입력하세요.</label>
								<input type="text" name="mb_email" id="mb_email" class="form-control"
									placeholder="User Id" required value="modeller77@gmail.com">
								<br>
								<div class="text-center">
									<button type="button" onClick="confirm()"
										class="btn btn-info btn-lg">비밀번호 찾기 신청</button>
							</form>
						</div>
					</div>
				</body>

</html>
