<header class="main-header">
  <!-- Logo -->
  <a href="/" class="logo">
    <span class="logo-mini">m<b>B</b></span>
    <span class="logo-lg">meta<b>Bot</b></span>
  </a>
  <nav class="navbar navbar-static-top">
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">

        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img
              src="/img/man-icon.jpg"
              class="user-image"
              alt="User Image"
            />
            <span class="hidden-xs">
              <% if (user) { %>
                <%= user.mb_name %>
              <% } %>
            </span>
          </a>
          <ul class="dropdown-menu">
            <li class="user-header">
              <img
                src="/img/man-icon.jpg"
                class="img-circle"
                alt="User Image"
              />

              <p>
                <% if (user) { %>
                  <%= user.mb_name %>            
                  <small><%= user.mb_id %></small>
                <% } %>
              </p>
            </li>

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a href="/viewUser" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a href="logout" class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button 
        <li>
          <a href="#" data-toggle="control-sidebar"
            ><i class="fa fa-gears"></i
          ></a>
        </li>
        -->
      </ul>
    </div>
  </nav>
</header>
